<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/codingExperimentOntology"
            class="codingExperimentOntology.CodingExperimentOntologyPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="variables"
            class="codingExperimentOntology.variables.NewPackage1Package"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="tasks"
            class="codingExperimentOntology.tasks.NewPackage2Package"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="threats"
            class="codingExperimentOntology.threats.NewPackage3Package"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="apparatus"
            class="codingExperimentOntology.apparatus.NewPackage4Package"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/experimentOntology"
            class="experimentOntology.ExperimentOntologyPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/description"
            class="experimentOntology.description.DescriptionPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/gqm"
            class="experimentOntology.description.gqm.GqmPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/planning"
            class="experimentOntology.planning.PlanningPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/threats"
            class="experimentOntology.planning.threats.ThreatsPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/sampling"
            class="experimentOntology.planning.sampling.SamplingPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/designOfExperiment"
            class="experimentOntology.planning.designOfExperiment.DesignOfExperimentPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="http://www.example.org/operation"
            class="experimentOntology.operation.OperationPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingExperimentOntology -->
      <package
            uri="taskCompositionFramework"
            class="experimentOntology.operation.taskCompositionFramework.TaskCompositionFrameworkPackage"
            genModel="model/codingExperimentOntology.genmodel"/>
   </extension>

</plugin>
